<div class="row btn-page">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header border-0">
        <h5>Event </h5>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="text-center">
        <img src="assets/images/pages/interview.svg" alt="image" class="img-fluid wid-100 mb-2">
        <h5>Ivaculus infotech & solutions <br><span class="badge badge-success">Placement</span></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <tbody>
          <tr>
            <td>Location</td>
            <td> : Mumbai</td>
          </tr>
          <tr>
            <td>Result</td>
            <td> : 60% Minimum</td>
          </tr>
          <tr>
            <td>Stipend</td>
            <td> : Max 10000</td>
          </tr>
          <tr>
            <td>Package</td>
            <td> : 2.5 Lacs</td>
          </tr>
          <tr>
            <td>Requirement</td>
            <td class="text-wrap"> : 30 Android Developer</td>
          </tr>
          <tr>
            <td>Organized By</td>
            <td> : IIRC</td>
          </tr>
          <tr>
            <td>Date</td>
            <td  class="text-wrap"> : 06/11/2016 to 06/11/2016</td>
          </tr>
          <tr>
            <td>Attachment</td>
            <td class="text-wrap"> : 29 IVACULUS INFOTECH.pdf</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary">Interested</button>
      <button class="btn btn-danger mt-md-0 mt-2">Not Interested</button>
    </app-card>
  </div>
  <div class="col-lg-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="text-center">
        <img src="assets/images/pages/festival.svg" alt="image" class="img-fluid wid-100 mb-2">
        <h5>Echo Green Arts <br><span class="badge badge-danger">Festival</span></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <tbody>
          <tr>
            <td>Location</td>
            <td> : Thane</td>
          </tr>
          <tr>
            <td>Result</td>
            <td> : 60% Minimum</td>
          </tr>
          <tr>
            <td>Stipend</td>
            <td> : Max 10000</td>
          </tr>
          <tr>
            <td>Package</td>
            <td> : 2.5 Lacs</td>
          </tr>
          <tr>
            <td>Requirement</td>
            <td class="text-wrap"> : min age 15</td>
          </tr>
          <tr>
            <td>Organized By</td>
            <td> : BSCSB</td>
          </tr>
          <tr>
            <td>Date</td>
            <td  class="text-wrap"> : 06/11/2016 to 06/11/2016</td>
          </tr>
          <tr>
            <td>Attachment</td>
            <td class="text-wrap"> : 29 Rules &amp; Regulation.pdf</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary">Participate</button>
      <button class="btn btn-danger mt-md-0 mt-2">Not Interested</button>
    </app-card>
  </div>
  <div class="col-lg-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="text-center">
        <img src="assets/images/pages/baseball.svg" alt="image" class="img-fluid wid-100 mb-2">
        <h5>Globle Sports Day <br><span class="badge badge-warning">Sports</span></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <tbody>
          <tr>
            <td>Location</td>
            <td> : Mumbai</td>
          </tr>
          <tr>
            <td>Result</td>
            <td> : 60% Minimum</td>
          </tr>
          <tr>
            <td>Stipend</td>
            <td> : Max 10000</td>
          </tr>
          <tr>
            <td>Package</td>
            <td> : 2.5 Lacs</td>
          </tr>
          <tr>
            <td>Requirement</td>
            <td class="text-wrap"> : min age 15</td>
          </tr>
          <tr>
            <td>Organized By</td>
            <td> : BSCSB</td>
          </tr>
          <tr>
            <td>Date</td>
            <td  class="text-wrap"> : 06/11/2016 to 06/11/2016</td>
          </tr>
          <tr>
            <td>Attachment</td>
            <td class="text-wrap"> : 29 Rules &amp; Regulation.pdf</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary">Participate</button>
      <button class="btn btn-danger mt-md-0 mt-2">Not Interested</button>
    </app-card>
  </div>
  <div class="col-lg-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="text-center">
        <img src="assets/images/pages/festival.svg" alt="image" class="img-fluid wid-100 mb-2">
        <h5>Echo Green Arts <br><span class="badge badge-danger">Festival</span></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <tbody>
          <tr>
            <td>Location</td>
            <td> : Thane</td>
          </tr>
          <tr>
            <td>Result</td>
            <td> : 60% Minimum</td>
          </tr>
          <tr>
            <td>Stipend</td>
            <td> : Max 10000</td>
          </tr>
          <tr>
            <td>Package</td>
            <td> : 2.5 Lacs</td>
          </tr>
          <tr>
            <td>Requirement</td>
            <td class="text-wrap"> : min age 15</td>
          </tr>
          <tr>
            <td>Organized By</td>
            <td> : BSCSB</td>
          </tr>
          <tr>
            <td>Date</td>
            <td  class="text-wrap"> : 06/11/2016 to 06/11/2016</td>
          </tr>
          <tr>
            <td>Attachment</td>
            <td class="text-wrap"> : 29 Rules &amp; Regulation.pdf</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary">Participate</button>
      <button class="btn btn-danger mt-md-0 mt-2">Not Interested</button>
    </app-card>
  </div>
  <div class="col-lg-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="text-center">
        <img src="assets/images/pages/baseball.svg" alt="image" class="img-fluid wid-100 mb-2">
        <h5>Globle Sports Day <br><span class="badge badge-warning">Sports</span></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <tbody>
          <tr>
            <td>Location</td>
            <td> : Mumbai</td>
          </tr>
          <tr>
            <td>Result</td>
            <td> : 60% Minimum</td>
          </tr>
          <tr>
            <td>Stipend</td>
            <td> : Max 10000</td>
          </tr>
          <tr>
            <td>Package</td>
            <td> : 2.5 Lacs</td>
          </tr>
          <tr>
            <td>Requirement</td>
            <td class="text-wrap"> : min age 15</td>
          </tr>
          <tr>
            <td>Organized By</td>
            <td> : BSCSB</td>
          </tr>
          <tr>
            <td>Date</td>
            <td  class="text-wrap"> : 06/11/2016 to 06/11/2016</td>
          </tr>
          <tr>
            <td>Attachment</td>
            <td class="text-wrap"> : 29 Rules &amp; Regulation.pdf</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary">Participate</button>
      <button class="btn btn-danger mt-md-0 mt-2">Not Interested</button>
    </app-card>
  </div>
  <div class="col-lg-4 col-md-6">
    <app-card [hidHeader]="true">
      <div class="text-center">
        <img src="assets/images/pages/interview.svg" alt="image" class="img-fluid wid-100 mb-2">
        <h5>Ivaculus infotech & solutions <br><span class="badge badge-success">Placement</span></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm mb-0">
          <tbody>
          <tr>
            <td>Location</td>
            <td> : Mumbai</td>
          </tr>
          <tr>
            <td>Result</td>
            <td> : 60% Minimum</td>
          </tr>
          <tr>
            <td>Stipend</td>
            <td> : Max 10000</td>
          </tr>
          <tr>
            <td>Package</td>
            <td> : 2.5 Lacs</td>
          </tr>
          <tr>
            <td>Requirement</td>
            <td class="text-wrap"> : 30 Android Developer</td>
          </tr>
          <tr>
            <td>Organized By</td>
            <td> : IIRC</td>
          </tr>
          <tr>
            <td>Date</td>
            <td  class="text-wrap"> : 06/11/2016 to 06/11/2016</td>
          </tr>
          <tr>
            <td>Attachment</td>
            <td class="text-wrap"> : 29 IVACULUS INFOTECH.pdf</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary">Interested</button>
      <button class="btn btn-danger mt-md-0 mt-2">Not Interested</button>
    </app-card>
  </div>
</div>
