<div class="row w-100 m-0 header-img">
    <img src="assets/images/widget/slider5.jpg" alt="" class="img-fluid email-campaign-img">
    <h4 class="email-campaign-heading settings"><span><i class="feather icon-chevron-right rectangle-4"></i></span>
        Settings <br> <span class="sub-label">&nbsp; Etiam ut quis sem aliquam venenatis </span></h4>

</div>
<div class="row w-100 m-0">

    <div class="row main-content w-100 m-0">
        <div class="col-sm-12 test setting-col">
            <div style="align-items: center;" class="card-title side card-header1">
                <app-card cardTitle="Email Credientials" >
                    <form #validationForm="ngForm" class="editForm" novalidate>

                        <div class="row">
                            <div class="col-md-3 col-sm-12">

                            </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Name" name="name"
                                        #name="ngModel" [(ngModel)]="formInput.name">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-control-label" for="email">Email</label>&nbsp;<span
                                        style="color: red;font-size: 10px;">*</span>
                                    <input class="form-control input-md" id="email" name="email" type="email"
                                        placeholder="Enter Email"
                                        [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}"
                                        #email="ngModel" required email [(ngModel)]="formInput.email">
                                    <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)"
                                        id="validation-email-error"
                                        class="error jquery-validation-error small form-text invalid-feedback">Please
                                        enter atleast 6 characters</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Password</label>&nbsp;<span
                                        style="color: red;font-size: 10px;">*</span>
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Enter Password"
                                        [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}"
                                        #password="ngModel" minlength="6" required [(ngModel)]="formInput.password">
                                    <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)"
                                        id="validation-password-error"
                                        class="error jquery-validation-error small form-text invalid-feedback">Please
                                        enter atleast 6 characters</label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right">
                                <p class="pt-5 font-label">Imap <span><i class="feather icon-chevron-right"></i></span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Username</label>&nbsp;<span style="color: red;font-size: 10px;">*</span>
                                    <input type="text" class="form-control" placeholder="Username" name="username"
                                        #username="ngModel" [(ngModel)]="formInput.imap_username">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Password</label>&nbsp;<span
                                        style="color: red;font-size: 10px;">*</span>
                                    <input type="password" class="form-control" name="password"
                                        placeholder="Enter Password"
                                        [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}"
                                        #password="ngModel" minlength="6" required
                                        [(ngModel)]="formInput.imap_password">
                                    <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)"
                                        id="validation-password-error"
                                        class="error jquery-validation-error small form-text invalid-feedback">Please
                                        enter a valid password.</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Server</label>&nbsp;<span style="color: red;font-size: 10px;">*</span>
                                    <input type="text" class="form-control" placeholder="Server" name="server"
                                        #server="ngModel" [(ngModel)]="formInput.imap_server">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <input class="form-control input-md" id="email" name="email" type="text" placeholder="Enter Email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel" required email [(ngModel)]="formInput.email">
                                <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email address.</label>
                              </div> -->
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Port</label>
                                    <input type="text" class="form-control" placeholder="Port" name="port"
                                        #port="ngModel" [(ngModel)]="formInput.imap_port">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SSL</label>
                                    <input type="text" class="form-control" placeholder="SSL" name="ssl" #ssl="ngModel"
                                        [(ngModel)]="formInput.imap_ssl">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- <div class="form-group">
                                  <label>Encryption</label>
                                  <input type="text" class="form-control" placeholder="N/A" name="encryption" #encryption="ngModel" [(ngModel)]="formInput.imap_encryption">
                                </div> -->

                                <div class="form-group">
                                  <label>Encryption</label>
                                   <select _ngcontent-xbc-c31=""
                                    class="form-control ng-pristine"
                                    name="validation-cmbGear" required=""  [(ngModel)]="imap_encryption_type">
                                    <option _ngcontent-xbc-c31="" value="no">No Encryption</option>
                                    <option _ngcontent-xbc-c31="" value="tls">TLS ONLY</option>
                                    <option _ngcontent-xbc-c31="" value="ssl">SSL ONLY</option>                                    
                                </select>
                                </div> 
                               
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Signature</label>
                                    <input type="text" class="form-control" placeholder="signature" name="signature"
                                        #encryption="ngModel" [(ngModel)]="formInput.signature">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enabled</label>
                                    <input type="text" class="form-control" placeholder="N/A" name="enabled"
                                        #enabled="ngModel" [(ngModel)]="formInput.imap_enabled">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- <div class="form-group">
                                <label class="form-control-label" for="email">Email</label>
                                <input class="form-control input-md" id="email" name="email" type="text" placeholder="Enter Email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel" required email [(ngModel)]="formInput.email">
                                <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid email address.</label>
                              </div> -->
                            </div>

                        </div>
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-md-3 text-right">
                                <p class="pt-5 font-label">SMTP <span><i class="feather icon-chevron-right"></i></span>
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Server</label>&nbsp;<span style="color: red;font-size: 10px;">*</span>
                                    <input type="text" class="form-control" placeholder="N/A" name="server"
                                        #server="ngModel" [(ngModel)]="formInput.smtp_server">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Port</label>&nbsp;<span style="color: red;font-size: 10px;">*</span>
                                    <input type="text" class="form-control" placeholder="Port" name="port"
                                        #port="ngModel" [(ngModel)]="formInput.smtp_port">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label>Encryption</label>
                                   <select _ngcontent-xbc-c31=""
                                    class="form-control ng-pristine"
                                    name="validation-cmbGear" required=""  [(ngModel)]="smtp_encryption_type">
                                    <option _ngcontent-xbc-c31="" value="no">No Encryption</option>
                                    <option _ngcontent-xbc-c31="" value="tls">TLS ONLY</option>
                                    <option _ngcontent-xbc-c31="" value="ssl">SSL ONLY</option>                                    
                                    <option _ngcontent-xbc-c31="" value="starttls">STARTTLS</option>                                    
                                </select>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>SSL</label>
                                    <input type="text" class="form-control" value="SSL" name="ssl" #ssl="ngModel"
                                        [(ngModel)]="formInput.smtp_ssl" placeholder="SSL">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control" value="Username" name="username"
                                        #username="ngModel" [(ngModel)]="formInput.smtp_username" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-right save-button rectangle">
                                    <button type="button" uiSref="work"
                                        class="btn btn-primary btn-raised rectangle semibold-text-copy-6"
                                        (click)="save(validationForm)"> <span style="margin-left:1px;"><i
                                                class="feather icon-save"></i></span>&nbsp;&nbsp; Save and Update
                                    </button>
                                </div>
                            </div>
                        </div>


                    </form>
                </app-card>
            </div>
        </div>
    </div>