
.icon-size{
    margin-top: 3px;
    font-size: 20px;   
   }

.right-menu {
       z-index: 2222;
   }

.close {
   margin-right: -15px;
}


.search-space {
line-height: 50px;
display: inline-block;
text-align: center;
width: 40px;
}