.icon-size{
 margin-top: 3px;
//  font-size: 20px;   
}

.right-menu {
    z-index: 222 !important;
}

.active-menu {
    color: #FF7101;
}

.pro-head {
    background: #292929 !important;
}

.drpdwn li:hover {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
}

.drpdwn li a {
    color: black !important;
}