<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Vertical RTL Layout">
      <p>In RTL Layout - The entire layout looks like Right-To-Left alignment. The entire page content starts from the right side of the page.</p>
      <div class="alert alert-info mb-0" role="alert">
        <p class="mb-0">RTL Layout is mostly preferred by Arabic, Hebrew, Persian, and Urdu languages which are written from right to left.</p>
      </div>
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>layout: <code>vertical</code></li>
                <li>rtlLayout: <code>true</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-common-content></app-common-content>
