<div class="row">
  <div class="col-sm-12">

    <app-card cardTitle="Course details" cardClass="tab-card" blockClass="pt-3">
      <ngb-tabset type="pills">
        <ngb-tab title="Computer Science" class="mb-3">
          <ng-template ngbTabContent>
            <h5>Master of Computer Applications</h5>
            <hr/>
            <h5 class="text-primary">Eligibility Criteria</h5>
            <ul>
              <li>A candidate shall have passed the qualifying examination with minimum of 50% marks (45% marks in case SC/ST/OBC category) of grand total.</li>
              <li>A candidate shall have passed the Higher Secondary School Examination (Standard XII, 10+2 pattern) and Bachelor's degree with Mathematics or Business Mathematics or Statistics as one of the subjects.</li>
              <li>A candidate shall have appeared in the CMAT (Common Management Aptitude Test) as prescribed by AICTE.</li>
            </ul>
            <h5 class="text-primary">Intake</h5>
            <p>300 Seats</p>
            <h5 class="text-primary">Duration</h5>
            <p>The duration of the course shall be Full time three academic years (i.e. 6 semesters).</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Management and Commerce">
          <ng-template ngbTabContent>
            <h5>Master of Business Administration</h5>
            <hr/>
            <h5 class="text-primary">Eligibility Criteria</h5>
            <ul>
              <li>Any Graduate with 50% marks (45% for reserved category) and CMAT/CAT/MAT or any other relevant entrant test for management program.</li>
            </ul>
            <h5 class="text-primary">Intake</h5>
            <p>200 Seats</p>
            <h5 class="text-primary">Duration</h5>
            <p>2 years</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Pharmacy">
          <ng-template ngbTabContent>
            <h5>Bachelor of Pharmacy</h5>
            <hr/>
            <h5 class="text-primary">Eligibility Criteria</h5>
            <ul>
              <li>12th passed in Science Stream (as per UGC norms)</li>
            </ul>
            <h5 class="text-primary">Intake</h5>
            <p>100 Seats</p>
            <h5 class="text-primary">Duration</h5>
            <p>The duration of the course shall be full time four academic years. Each academic year shall be divided into two semesters.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Engineering">
          <ng-template ngbTabContent>
            <h5>Diploma Engineering</h5>
            <hr/>
            <h5 class="text-primary">Eligibility Criteria</h5>
            <ul>
              <li>10th(Minimum)</li>
            </ul>
            <h5 class="text-primary">Intake</h5>
            <p>60 Seats</p>
            <h5 class="text-primary">Duration</h5>
            <p>The duration of the course shall be full time four academic years. Each academic year shall be divided into two semesters.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Science">
          <ng-template ngbTabContent>
            <h5>Bachelor of Science in Chemistry</h5>
            <hr/>
            <h5 class="text-primary">Eligibility Criteria</h5>
            <ul>
              <li>H. Sc (Science) of A, B or AB group</li>
            </ul>
            <h5 class="text-primary">Intake</h5>
            <p>100 Seats</p>
            <h5 class="text-primary">Duration</h5>
            <p>The duration of the course shall be full time three academic years (i.e. 6 semesters). Student will receive degree of B.Sc. on completion of 3rd year successfully.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
</div>
