<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Switches" [options]="false">
      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <h5>Primary Switch</h5>
          <hr>
          <div class="form-group">
            <div class="switch switch-primary d-inline m-r-10">
              <input type="checkbox" id="switch-p-1" checked>
              <label for="switch-p-1" class="cr"></label>
            </div>
            <label>Checked</label>
          </div>
          <div class="form-group">
            <div class="switch switch-primary d-inline m-r-10">
              <input type="checkbox" id="switch-p-2">
              <label for="switch-p-2" class="cr"></label>
            </div>
            <label>Uncheck</label>
          </div>
          <div class="form-group">
            <div class="switch switch-primary d-inline m-r-10">
              <input type="checkbox" id="switch-p-3" disabled>
              <label for="switch-p-3" class="cr"></label>
            </div>
            <label>Disabled</label>
          </div>
          <div class="form-group">
            <div class="switch switch-primary d-inline m-r-10">
              <input type="checkbox" id="switch-p-4" disabled checked>
              <label for="switch-p-4" class="cr"></label>
            </div>
            <label>Disabled Checked</label>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <h5>Danger Switch</h5>
          <hr>
          <div class="form-group">
            <div class="switch switch-danger d-inline m-r-10">
              <input type="checkbox" id="switch-d-1" checked>
              <label for="switch-d-1" class="cr"></label>
            </div>
            <label>Checked</label>
          </div>
          <div class="form-group">
            <div class="switch switch-danger d-inline m-r-10">
              <input type="checkbox" id="switch-d-2">
              <label for="switch-d-2" class="cr"></label>
            </div>
            <label>Uncheck</label>
          </div>
          <div class="form-group">
            <div class="switch switch-danger d-inline m-r-10">
              <input type="checkbox" id="switch-d-3" disabled>
              <label for="switch-d-3" class="cr"></label>
            </div>
            <label>Disabled</label>
          </div>
          <div class="form-group">
            <div class="switch switch-danger d-inline m-r-10">
              <input type="checkbox" id="switch-d-4" disabled checked>
              <label for="switch-d-4" class="cr"></label>
            </div>
            <label>Disabled Checked</label>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
          <h5>Success Switch</h5>
          <hr>
          <div class="form-group">
            <div class="switch switch-success d-inline m-r-10">
              <input type="checkbox" id="switch-s-1" checked>
              <label for="switch-s-1" class="cr"></label>
            </div>
            <label>Checked</label>
          </div>
          <div class="form-group">
            <div class="switch switch-success d-inline m-r-10">
              <input type="checkbox" id="switch-s-2">
              <label for="switch-s-2" class="cr"></label>
            </div>
            <label>Uncheck</label>
          </div>
          <div class="form-group">
            <div class="switch switch-success d-inline m-r-10">
              <input type="checkbox" id="switch-s-3" disabled>
              <label for="switch-s-3" class="cr"></label>
            </div>
            <label>Disabled</label>
          </div>
          <div class="form-group">
            <div class="switch switch-success d-inline m-r-10">
              <input type="checkbox" id="switch-s-4" disabled checked>
              <label for="switch-s-4" class="cr"></label>
            </div>
            <label>Disabled Checked</label>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <h5>Warning Switch</h5>
          <hr>
          <div class="form-group">
            <div class="switch switch-warning d-inline m-r-10">
              <input type="checkbox" id="switch-w-1" checked>
              <label for="switch-w-1" class="cr"></label>
            </div>
            <label>Checked</label>
          </div>
          <div class="form-group">
            <div class="switch switch-warning d-inline m-r-10">
              <input type="checkbox" id="switch-w-2">
              <label for="switch-w-2" class="cr"></label>
            </div>
            <label>Uncheck</label>
          </div>
          <div class="form-group">
            <div class="switch switch-warning d-inline m-r-10">
              <input type="checkbox" id="switch-w-3" disabled>
              <label for="switch-w-3" class="cr"></label>
            </div>
            <label>Disabled</label>
          </div>
          <div class="form-group">
            <div class="switch switch-warning d-inline m-r-10">
              <input type="checkbox" id="switch-w-4" disabled checked>
              <label for="switch-w-4" class="cr"></label>
            </div>
            <label>Disabled Checked</label>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-3">
          <h5>Info Switch</h5>
          <hr>
          <div class="form-group">
            <div class="switch switch-info d-inline m-r-10">
              <input type="checkbox" id="switch-i-1" checked>
              <label for="switch-i-1" class="cr"></label>
            </div>
            <label>Checked</label>
          </div>
          <div class="form-group">
            <div class="switch switch-info d-inline m-r-10">
              <input type="checkbox" id="switch-i-2">
              <label for="switch-i-2" class="cr"></label>
            </div>
            <label>Uncheck</label>
          </div>
          <div class="form-group">
            <div class="switch switch-info d-inline m-r-10">
              <input type="checkbox" id="switch-i-3" disabled>
              <label for="switch-i-3" class="cr"></label>
            </div>
            <label>Disabled</label>
          </div>
          <div class="form-group">
            <div class="switch switch-info d-inline m-r-10">
              <input type="checkbox" id="switch-i-4" disabled checked>
              <label for="switch-i-4" class="cr"></label>
            </div>
            <label>Disabled Checked</label>
          </div>
        </div>

      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card cardTitle="Tags Input" [options]="false">
      <div class="mb-5">
        <h5>Basic Tag Input</h5>
        <hr>
        <p>Just add <code>ngModel</code> to your <code>tag-input</code> field to automatically change it to a tags input field.</p>
        <tag-input class="tag-chips" [(ngModel)]="items" [modelAsStrings]="true"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Read Only Tag Input</h5>
        <hr>
        <p>Just add <code>identifyBy, displayBy</code> attribute to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [(ngModel)]="itemsAsObjects" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Editable Tag Input</h5>
        <hr>
        <p>Just add <code>editable</code> attribute with <code>true</code> value, to your <code>tag-input</code> field. (doubble click on tag)</p>
        <tag-input class="tag-chips" [(ngModel)]="items" [editable]="true"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input Limit (3)</h5>
        <hr>
        <p>Just add <code>maxItems, ripple</code> attribute to your <code>tag-input</code> field. (doubble click on tag)</p>
        <tag-input class="tag-chips" [ngModel]="['Amsterdam', 'Washington', 'Sydney']" [maxItems]="5" [ripple]="false" placeholder="Insert a new item"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input Validation</h5>
        <hr>
        <p>Just add <code>errorMessages, validators</code> attribute to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [ngModel]="['@Amsterdam$', '@Washington$', '@Sydney$']" [errorMessages]="errorMessages" [validators]="validators"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Space Key</h5>
        <hr>
        <p>Just add <code>separatorKeyCodes</code> attribute with <code>ket code</code> method to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [ngModel]="['Amsterdam']" [separatorKeyCodes]="[32, 188]"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Theme</h5>
        <hr>
        <p>Just add <code>theme</code> attribute with <code>bootstrap(default), danger, success, warning, dark</code> value to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [theme]="'dark'" [ngModel]="['Amsterdam', 'Washington']" name="items"></tag-input>
      </div>
      <div class="mb-5">
        <h5>Tag Input with Minimal Theme</h5>
        <hr>
        <p>Just add <code>theme</code> attribute with <code>minimal, minimal-danger, minimal-success, minimal-warning, minimal-dark</code> value to your <code>tag-input</code> field.</p>
        <tag-input class="tag-chips" [theme]="'minimal-danger'" [ngModel]="['Amsterdam', 'Washington', 'Sydney']" name="items"></tag-input>
      </div>
    </app-card>
  </div>
</div>
