.icon-size{
    margin-top: 3px;
    font-size: 20px;   
   }


#main-logo {
    // vertical-align: middle;
    // border-style: none;
    // border-top-style: none;
    // border-right-style: none;
    // border-bottom-style: none;
    // border-left-style: none;
    // float: left;
    // width: 110px;
    /* padding-right: 23px; */
    // margin-right: 80px;
}

#mobile-collapse {
    z-index: 1 !important;
}

