<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Box Layout">
      <p>In Box Layout - The entire page content with sidebar & header is set to be in Box fixed width container</p>
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>layout: <code>vertical</code></li>
                <li>navFixedLayout <code>true</code></li>
                <li>headerFixedLayout: <code>false</code></li>
                <li>boxLayout: <code>true</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-common-content></app-common-content>
