.show{
    display: block;
}
.hide {
    display: none;
}

.pcoded-navbar {
    border-radius: 0px !important;  
}

.pcoded-header {
    background-color: #292929 !important;
}

// .pcoded-content {
//     height: 116px;	width: auto;	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
// }

@media only screen and (max-width: 768px) {
    .pcoded-main-container {
        margin-top: -25px !important;
    }
  }