.card.full-card {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 99999;
  border-radius: 0;
  width: calc(100vw) !important;
  height: 100vh !important;
}


.card-header-right {
  display: none !important;
}

.card-title{	height: 20px;	width: auto;	color: #000000;	font-family: "Open Sans";	font-size: 15px;	font-weight: bolder;	line-height: 20px;}


.card-subtitle {	height: 18px;	width: auto;	color: #78909C;	font-family: "Open Sans";	font-size: 13px;	line-height: 18px;}