<div class="row btn-page">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h5><i class="feather icon-lock mr-1"></i>Private Ticket #1831786</h5>
      </div>
      <div class="card-body topic-name">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h4 class="d-inline-block mb-0">Theme customization issue</h4>
          </div>
          <div class="col-md-4">
            <div class="btn-star">
              <a href="javascript:" class="btn btn-primary btn-sm">Mark as unread</a>
              <a href="javascript:"><i class="feather icon-star f-20 text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light p-3">
        <div class="row align-items-center">
          <div class="col-md-12">
            <button type="button" class="btn btn-secondary text-uppercase"><i class="mr-2 feather icon-message-square"></i>Post a reply <span class="badge badge-light m-l-10">R</span></button>
            <button type="button" class="btn btn-secondary text-uppercase"><i class="mr-2 feather icon-edit"></i>Post a Note <span class="badge badge-light m-l-10">N</span></button>
            <button type="button" class="btn btn-secondary text-uppercase"><i class="mr-2 feather icon-user-check"></i>Customer Notes</button>
          </div>
        </div>
      </div>
      <div class="card-body hd-detail hdd-admin border-bottom">
        <div class="row">
          <div class="col-auto text-center">
            <img class="media-object wid-60 img-radius mb-2" src="assets/images/user/avatar-5.jpg" alt="Generic placeholder image ">
            <p><i class="fas fa-thumbs-up mr-1 text-primary"></i>4</p>
          </div>
          <div class="col">
            <div class="comment-top">
              <h3>You <small class="text-muted f-w-400">replied</small></h3>
              <p>1 day ago on Wednesday at 8:18am</p>
            </div>
            <div class="comment-content">
              <p>hello john doe,</p>
              <p>you need to create <strong>"toolbar-options" div only once</strong> in a page in your code, this div fill found
                <strong>every "td"</strong> tag in your page, just remove those things.
              </p>
              <p>and also</p>
              <p>in option button add "<strong>p-0</strong>" class in "<strong>I</strong>" tag</p>
              <p>to</p>
              <p></p>
              <p>Thanks...</p>
            </div>
          </div>
          <div class="col-auto pl-0 col-right">
            <div class="card-body text-center">
              <ul class="list-unstyled mb-0 edit-del">
                <li class="d-inline-block f-20 mr-1"><a href="javascript:"><i class="feather icon-edit-2 text-muted"></i></a></li>
                <li class="d-inline-block f-20"><a href="javascript:"><i class="feather icon-trash-2 text-muted"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body hd-detail hdd-user border-bottom bg-light">
        <div class="row">
          <div class="col-auto text-center">
            <img class="media-object wid-60 img-radius mb-2" src="assets/images/user/avatar-4.jpg" alt="Generic placeholder image ">
            <p>1 Ticket</p>
          </div>
          <div class="col">
            <div class="comment-top">
              <h3>User <small class="text-muted f-w-400">replied</small></h3>
              <p>1 day ago on Wednesday at 8:18am</p>
            </div>
            <div class="comment-content">
              <p>hello john doe,</p>
              <p>you need to create <strong>"toolbar-options" div only once</strong> in a page in your code, this div fill found
                <strong>every "td"</strong> tag in your page, just remove those things.
              </p>
              <p>and also</p>
              <p>in option button add "<strong>p-0</strong>" class in "<strong>I</strong>" tag</p>
              <p>to</p>
              <p></p>
              <p>Thanks...</p>
            </div>

            <div class="row text-center mb-2">
              <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
                <a href="assets/images/light-box/l1.jpg" data-toggle="lightbox" data-gallery="example-gallery"><img src="assets/images/light-box/sl1.jpg" class="img-fluid m-b-10" alt=""></a>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
                <a href="assets/images/light-box/l5.jpg" data-toggle="lightbox" data-gallery="example-gallery"><img src="assets/images/light-box/l5.jpg" class="img-fluid m-b-10" alt=""></a>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
                <a href="assets/images/light-box/l6.jpg" data-toggle="lightbox" data-gallery="example-gallery"><img src="assets/images/light-box/l6.jpg" class="img-fluid m-b-10" alt=""></a>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
                <a href="assets/images/light-box/l4.jpg" data-toggle="lightbox" data-gallery="example-gallery"><img src="assets/images/light-box/l4.jpg" class="img-fluid m-b-10" alt=""></a>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-4 col-xs-12">
                <a href="assets/images/light-box/l3.jpg" data-toggle="lightbox" data-gallery="example-gallery"><img src="assets/images/light-box/sl3.jpg" class="img-fluid m-b-10" alt=""></a>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary btn-sm"><i class="fas fa-thumbs-up mr-1"></i> Like</button>
          </div>
          <div class="col-auto pl-0 col-right">
            <div class="card-body text-center">
              <i class="feather icon-flag f-20 position-absolute"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body hd-detail hdd-admin">
        <div class="row">
          <div class="col-auto text-center">
            <img class="media-object wid-60 img-radius mb-2" src="assets/images/user/avatar-5.jpg" alt="Generic placeholder image ">
            <p><i class="fas fa-thumbs-up mr-1 text-primary"></i>4</p>
          </div>
          <div class="col">
            <div class="comment-top">
              <h3>You <small class="text-muted f-w-400">replied</small></h3>
              <p>1 day ago on Wednesday at 8:18am</p>
            </div>
            <div class="comment-content">
              <p>hello john doe,</p>
              <p>you need to create <strong>"toolbar-options" div only once</strong> in a page in your code, this div fill found
                <strong>every "td"</strong> tag in your page, just remove those things.
              </p>
              <p>and also</p>
              <p>in option button add "<strong>p-0</strong>" class in "<strong>I</strong>" tag</p>
              <p>to</p>
              <p></p>
              <p>Thanks...</p>
            </div>
          </div>
          <div class="col-auto pl-0 col-right">
            <div class="card-body text-center">
              <ul class="list-unstyled mb-0 edit-del">
                <li class="d-inline-block f-20 mr-1"><a href="javascript:"><i class="feather icon-edit-2 text-muted"></i></a></li>
                <li class="d-inline-block f-20"><a href="javascript:"><i class="feather icon-trash-2 text-muted"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card hdd-right-inner">
      <div class="card-header pt-4 pb-4">
        <h5>Ticket Details</h5>
      </div>
      <div class="card-body">
        <div class="alert alert-success d-block text-center text-uppercase"><i class="feather icon-check-circle mr-2"></i>Verified Purchase</div>
        <div class="select-block">
          <div class="form-group">
            <select title="Ticket Status" class="js-status-multiple col-sm-12 form-control">
              <option>Open</option>
              <option>Close</option>
              <option>CLosed Forever</option>
            </select>
          </div>
          <div class="form-group">
            <select title="Assigned To" class="js-assigned-multiple col-sm-12 form-control">
              <option value="avatar-5">Jack Pall</option>
              <option value="avatar-4">Liza Mac</option>
              <option value="avatar-3">Lina Hop</option>
              <option value="avatar-2">Sam Hunk</option>
              <option value="avatar-1">Jhon White</option>
            </select>
          </div>
          <select title="Category" class="js-category-multiple col-sm-12 form-control">
            <option value="prod-1">Able Admin</option>
            <option value="prod-2">Guru Dash</option>
            <option value="prod-3">Able Pro</option>
            <option value="prod-4">Able Dash</option>
            <option value="prod-5">Dash Able</option>
          </select>
        </div>
      </div>
      <div class="card-footer">
        <div class="row border-bottom pt-3 pb-2">
          <div class="col-sm-4 col-xl-3"> <label class="mb-0">Customer</label></div>
          <div class="col-sm-8 col-xl-9 d-inline-block mb-0">
            <p><img src="assets/images/user/avatar-5.jpg" alt="" class="wid-20 rounded mr-1 img-fluid"><a href="javascript:">Jack Pall</a></p>
          </div>
        </div>
        <div class="row border-bottom pt-3 pb-2 bg-light">
          <div class="col-sm-4 col-xl-3"> <label class="mb-0">Contact</label></div>
          <div class="col-sm-8 col-xl-9 d-inline-block mb-0">
            <p><i class="feather icon-mail mr-1"></i><a href="javascript:">mail@mail.com</a></p>
          </div>
        </div>
        <div class="row border-bottom pt-3 pb-2">
          <div class="col-sm-4 col-xl-3"> <label class="mb-0">Category</label></div>
          <div class="col-sm-8 col-xl-9 d-inline-block mb-0">
            <p><img src="assets/images/ticket/p1.jpg" alt="" class="wid-20 rounded mr-1 img-fluid"><a href="javascript:">Alpha pro</a></p>
          </div>
        </div>
        <div class="row border-bottom pt-3 pb-2 bg-light">
          <div class="col-sm-4 col-xl-3"> <label>Assigned</label></div>
          <div class="col-sm-8 col-xl-9 d-inline-block mb-0">
            <p><img src="assets/images/user/avatar-4.jpg" alt="" class="wid-20 rounded mr-1 img-fluid"><a href="javascript:">Lina Hop</a></p>
          </div>
        </div>
        <div class="row border-bottom pt-3 pb-2 ">
          <div class="col-sm-4 col-xl-3"> <label class="mb-0">Created</label></div>
          <div class="col-sm-8 col-xl-9 d-inline-block mb-0">
            <p><i class="feather icon-calendar mr-1"></i><label class="mb-0">Date</label></p>
          </div>
        </div>
        <div class="row pt-3 pb-2 bg-light">
          <div class="col-sm-4 col-xl-3"> <label class="mb-0">Response</label></div>
          <div class="col-sm-8 col-xl-9 d-inline-block mb-0">
            <p><i class="feather icon-clock mr-1"></i><label class="mb-0">Time</label></p>
          </div>
        </div>
        <div class="row mt-3">
          <button type="button" class="btn btn-primary"><i class="mr-2 feather icon-thumbs-up"></i>Make Private</button>
          <button type="button" class="btn btn-danger"><i class="mr-2 feather icon-trash-2"></i>Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
