<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Light Layout">
      <p>In Light Layout - Your entire layout will be set to light colors. You can also change different colors using live customizer.</p>
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>layout: <code>vertical/horizontal</code></li>
                <li>layoutType: <code>menu-light</code></li>
                <li>headerBackColor: <code>header-default</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-common-content></app-common-content>
