<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <div class="nav nav-pills" role="tablist">
          <a href="javascript:" class="nav-link active">2018 - 19</a>
          <a href="javascript:" class="nav-link">2017 - 18</a>
          <a href="javascript:" class="nav-link">2016 - 17</a>
          <a href="javascript:" class="nav-link">2015 - 16</a>
          <a href="javascript:" class="nav-link">2014 - 15</a>
          <a href="javascript:" class="nav-link">2013 - 14</a>
          <a href="javascript:" class="nav-link">2012 - 13</a>
          <a href="javascript:" class="nav-link">2011 - 12</a>
        </div>
      </div>
    </div>

    <app-card cardTitle="CIRCULAR : 2018-19" cardClass="tab-card" blockClass="pt-3">
      <ngb-tabset type="pills">
        <ngb-tab title="General Notices" class="mb-3">
          <ng-template ngbTabContent>
            <h5>General Notices : 2018-19</h5>
            <hr/>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
                <tr>
                  <td>20/05/2019
                  </td>
                  <td><a href="javascript:">Ph D Fee Notice 2019-20</a></td>
                </tr>
                <tr>
                  <td>02/05/2019
                  </td>
                  <td><a href="javascript:">09-2019 - Time Duration for Exit Application</a></td>
                </tr>
                <tr>
                  <td>25/04/2019
                  </td>
                  <td><a href="javascript:">FEE NOTICE for 1st Term Academic Year 2019-20</a></td>
                </tr>
                <tr>
                  <td>19/02/2019
                  </td>
                  <td><a href="javascript:">35-2019 Revised rules and Regulation for usage of Auditurium etc.</a></td>
                </tr>
                <tr>
                  <td>14/02/2019
                  </td>
                  <td><a href="javascript:">36-2019 B.U.Patel Scholarship Scheme 2018-19</a></td>
                </tr>
                <tr>
                  <td>08/01/2019
                  </td>
                  <td><a href="javascript:">Ph. D. Fee Extension Notice</a></td>
                </tr>
                <tr>
                  <td>11/12/2018
                  </td>
                  <td><a href="javascript:">Fees Notice for (4, 6, 8, 10 Sem) 2018-19</a></td>
                </tr>
                <tr>
                  <td>25/10/2018
                  </td>
                  <td><a href="javascript:">2nd Term Fees Notice</a></td>
                </tr>
                <tr>
                  <td>05/10/2018
                  </td>
                  <td><a href="javascript:"> Electroal Literacy Club</a></td>
                </tr>
                <tr>
                  <td>11/09/2018
                  </td>
                  <td><a href="javascript:"> Circular - 03-2018 Migration Certificates</a></td>
                </tr>
                <tr>
                  <td>06/09/2018
                  </td>
                  <td><a href="javascript:"> 19/2018, Appointment of I/c. Director Management (SRIMCA)</a></td>
                </tr>
                <tr>
                  <td>31/08/2018
                  </td>
                  <td><a href="javascript:">1st Term MBNC Fees Notice</a></td>
                </tr>
                <tr>
                  <td rowspan="6">28/08/2018
                  </td>
                  <td><a href="javascript:">Literary Club</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Media and Press Club</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Music Club</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Theater Club</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Dance Club</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Community Social service Club</a></td>
                </tr>
                <tr>
                  <td rowspan="9">09/08/2018
                  </td>
                  <td><a href="javascript:">International Collaboration Cell</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Entrepreneurship Development & Startup Cell</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Anti-Ragging</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Committee Against Sexual Harassment</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Grievance Redressal Committee</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Women Cell</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Academic Development Cell</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Data Collection Committee</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Training & Placement Cell </a></td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Exam Notices">
          <ng-template ngbTabContent>
            <h5>Exam Notices : 2018-19</h5>
            <hr/>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                </tr>
                <tr>
                  <td>30/07/2019
                  </td>
                  <td>
                    <a href="javascript:">Internal CIE Improvement Application Date Extended 3 Aug 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>22/07/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Assessment-Result-Summer-2019-Examination</a>
                  </td>
                </tr>
                <tr>
                  <td>15/07/2019
                  </td>
                  <td>
                    <a href="javascript:">Schedule of Winter 2019 Examination</a>
                  </td>
                </tr>
                <tr>
                  <td>03/07/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Assessment Result - Diploma Programmes - Summer 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>25/06/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Checking Result - Round-III - Summer 2019</a>
                  </td>
                </tr>
                <tr>
                  <td rowspan="2">24/06/2019
                  </td>
                  <td>
                    <a href="javascript:">ReChecking Round-1-Result Notification-Summer2019</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:">ReChecking Round-2-Result Notification-Summer2019</a>
                  </td>
                </tr>
                <tr>
                  <td>21/06/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Checking - Round-III - 24 June 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>20/06/2019
                  </td>
                  <td>
                    <h5>OVERALL STUDENT DETAIN LIST</h5>
                    <div class="table-responsive">
                      <table class="table table-bordered table-sm">
                        <tr>
                          <td><a href="javascript:">B. Arch</a></td>
                          <td><a href="javascript:">B. Des.</a></td>
                          <td><a href="javascript:">B.C.A (Hons)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">B.Com</a></td>
                          <td><a href="javascript:">B.I.D</a></td>
                          <td><a href="javascript:">B.Pharm</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">B.Sc. (Chemistry)</a></td>
                          <td><a href="javascript:">B.Sc. (Microbiology)</a></td>
                          <td><a href="javascript:">B.Tech (Automobile)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">B.Tech (Chemical)</a></td>
                          <td><a href="javascript:">B.Tech (Civil)</a></td>
                          <td><a href="javascript:">B.Tech (EC)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">B.Tech (ICT)</a></td>
                          <td><a href="javascript:">B.Tech (IT)</a></td>
                          <td><a href="javascript:">B.Tech (Mechanical)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">BBA</a></td>
                          <td><a href="javascript:">BCA (Honors)</a></td>
                          <td><a href="javascript:">BCA</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">Diploma (CE)</a></td>
                          <td><a href="javascript:">Diploma (Chemical)</a></td>
                          <td><a href="javascript:">Diploma (Civil)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">Diploma (IT)</a></td>
                          <td><a href="javascript:">Diploma (ME)</a></td>
                          <td><a href="javascript:">Integrated M.Sc. (Biotechnology)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">Integrated M.Sc. (IT)</a></td>
                          <td><a href="javascript:">Integrated M.Sc. (Mathematics)</a></td>
                          <td><a href="javascript:">Integrated M.Sc. (Microbiology)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">M. Com</a></td>
                          <td><a href="javascript:">M.Com (Integrated)</a></td>
                          <td><a href="javascript:">M.Sc. (Industrial Chemistry)</a></td>
                        </tr>
                        <tr>
                          <td><a href="javascript:">MBA (Integrated)-OLD</a></td>
                          <td><a href="javascript:">MBA</a></td>
                          <td><a href="javascript:">MCA (Integrated)</a></td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>14/06/2019
                  </td>
                  <td>
                    <a href="javascript:">ReChecking Schedule Summer2019</a>
                  </td>
                </tr>
                <tr>
                  <td>04/06/2019
                  </td>
                  <td>
                    <a href="javascript:">UFM Result Exam - Summer 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>25/05/2019
                  </td>
                  <td>
                    <a href="javascript:">UFM - Schedule - Summer 2019 Examination - 4 June 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>30/04/2019
                  </td>
                  <td>
                    <a href="javascript:">Online Exam Batch Details of Sem 6 UTU Common Subject Soft Skills on 1.5.2019.</a>
                  </td>
                </tr>
                <tr>
                  <td>25/04/2019
                  </td>
                  <td>
                    <a href="javascript:">Exam Form Withdrawal - Phase 2 Exams - Summer 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>15/04/2019
                  </td>
                  <td>
                    <a href="javascript:">Exam Form Withdrawn - Summer 2019 - Phase1 - Examination</a>
                  </td>
                </tr>
                <tr>
                  <td rowspan="2">22/03/2019
                  </td>
                  <td>
                    <a href="javascript:">Summer 2019 - Exam Form - Date-Extended-12-18 March 2019</a>
                  </td>

                </tr>
                <tr>
                  <td>
                    <a href="javascript:">Summer 2019 - Exam Form-Date-Extended-19-25 March 2019 - With Penalty</a>
                  </td>
                </tr>
                <tr>
                  <td>01/03/2019
                  </td>
                  <td>
                    <a href="javascript:">Exam Form Filling Schedule -Summer 2019 (1-11-March-2019)</a>
                  </td>
                </tr>
                <tr>
                  <td>26/02/2019
                  </td>
                  <td>
                    <a href="javascript:">Online Exam Form - Student Guidelines - Procedure</a>
                  </td>
                </tr>
                <tr>
                  <td rowspan="2">21/02/2019
                  </td>
                  <td>
                    <a href="javascript:">Grade Change - Notification -Winter 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:">Re Checking Result - Round 4 - Winter 2018 - Exam</a>
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">16/02/2019
                  </td>
                  <td>
                    <a href="javascript:">UFM - Result Notification -Winter 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:">Re Checking - Round 3 - Result Notification - Winter 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:">Re Checking Schedule - Round 4 - Winter 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>11/02/2019
                  </td>
                  <td>
                    <a href="javascript:">Re - Assessment - Result - Winter 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>06/02/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Checking Schedule - Round 3 - 14 Feb 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>24/01/2019
                  </td>
                  <td>
                    <a href="javascript:">Summer 2019 - Examination Schedule</a>
                  </td>
                </tr>
                <tr>
                  <td>23/01/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Checking Round - 2 - Result Notification - 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>16/01/2019
                  </td>
                  <td>
                    <a href="javascript:">Re Checking Schedule - Round2- Winter2018-Exam - 21 Jan 2019</a>
                  </td>
                </tr>
                <tr>
                  <td>13/12/2018
                  </td>
                  <td>
                    <a href="javascript:">17 December 18 - Winter18 - Exam-Centres-Student Notice</a>
                  </td>
                </tr>
                <tr>
                  <td>12/12/2018
                  </td>
                  <td>
                    <a href="javascript:">Exam Form Withdrawn - Winter 2018 - Phase3</a>
                  </td>
                </tr>
                <tr>
                  <td>30/11/2018
                  </td>
                  <td>
                    <a href="javascript:">UFM Result Winter 2018 Exam Phase 1-2</a>
                  </td>
                </tr>
                <tr>
                  <td>26/11/2018
                  </td>
                  <td>
                    <a href="javascript:">Re Checking - Ph1-2 Winter 2018 Exam Result</a>
                  </td>
                </tr>
                <tr>
                  <td>22/11/2018
                  </td>
                  <td>
                    <a href="javascript:">UFM - Meeting On - 27 Nov 2018 - Case-1 t o12</a>
                  </td>
                </tr>
                <tr>
                  <td>17/11/2018
                  </td>
                  <td>
                    <a href="javascript:">Re Checking Schedule - Ph1 - Winter2018 Exam</a>
                  </td>
                </tr>
                <tr>
                  <td>29/10/2018
                  </td>
                  <td>
                    <a href="javascript:">Re Schedule Online Exam BBA - BCom - BCom CA- I.MCom - Sem1 - 1 Nov 2018</a>
                  </td>
                </tr>
                <tr>
                  <td>17/10/2018
                  </td>
                  <td>
                    <a href="javascript:">Exam Form Withdraw - Win2018 Exam-Phase2</a>
                  </td>
                </tr>
                <tr>
                  <td>15/09/2018
                  </td>
                  <td>
                    <a href="javascript:">Winter 2018 Regular ATKT - Odd Sem Exam Form Filling Schedule</a>
                  </td>
                </tr>
                <tr>
                  <td>13/08/2018
                  </td>
                  <td>
                    <a href="javascript:">Notice - Online Exam Fees - Date Exended-till- 19 Aug 2018</a>
                  </td>
                </tr>
                <tr>
                  <td rowspan="3">17/07/2018
                  </td>
                  <td>
                    <a href="javascript:">Online Examination Form Filling Schedule - ATKT (AllCourses) and
                      Nursing - Winter2018</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:">Online ExamForm - Student Guidelines - Procedure</a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="javascript:">Examination Schedule - Winter2018</a>
                  </td>
                </tr>
                <tr>
                  <td>09/07/2018
                  </td>
                  <td>
                    <a href="javascript:">Re Assessment Result Summer2018 - Examination</a>
                  </td>
                </tr>

              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Seat No">
          <ng-template ngbTabContent>
            <h5>Student Seat No</h5>
            <hr/>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <tr>
                  <td><a href="javascript:">B. Arch</a></td>
                  <td><a href="javascript:">B. Des.</a></td>
                  <td><a href="javascript:">B.C.A (Hons)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Com</a></td>
                  <td><a href="javascript:">B.I.D</a></td>
                  <td><a href="javascript:">B.Pharm</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Sc. (Chemistry)</a></td>
                  <td><a href="javascript:">B.Sc. (Microbiology)</a></td>
                  <td><a href="javascript:">B.Tech (Automobile)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Tech (Chemical)</a></td>
                  <td><a href="javascript:">B.Tech (Civil)</a></td>
                  <td><a href="javascript:">B.Tech (EC)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Tech (ICT)</a></td>
                  <td><a href="javascript:">B.Tech (IT)</a></td>
                  <td><a href="javascript:">B.Tech (Mechanical)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">BBA</a></td>
                  <td><a href="javascript:">BCA (Honors)</a></td>
                  <td><a href="javascript:">BCA</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Diploma (CE)</a></td>
                  <td><a href="javascript:">Diploma (Chemical)</a></td>
                  <td><a href="javascript:">Diploma (Civil)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Diploma (IT)</a></td>
                  <td><a href="javascript:">Diploma (ME)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Biotechnology)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Integrated M.Sc. (IT)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Mathematics)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Microbiology)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">M. Com</a></td>
                  <td><a href="javascript:">M.Com (Integrated)</a></td>
                  <td><a href="javascript:">M.Sc. (Industrial Chemistry)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">MBA (Integrated)-OLD</a></td>
                  <td><a href="javascript:">MBA</a></td>
                  <td><a href="javascript:">MCA (Integrated)</a></td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Seating Arrangement">
          <ng-template ngbTabContent>
            <h5>Seating Arrangement</h5>
            <hr/>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <tr>
                  <td><a href="javascript:">B. Arch</a></td>
                  <td><a href="javascript:">B. Des.</a></td>
                  <td><a href="javascript:">B.C.A (Hons)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Com</a></td>
                  <td><a href="javascript:">B.I.D</a></td>
                  <td><a href="javascript:">B.Pharm</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Sc. (Chemistry)</a></td>
                  <td><a href="javascript:">B.Sc. (Microbiology)</a></td>
                  <td><a href="javascript:">B.Tech (Automobile)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Tech (Chemical)</a></td>
                  <td><a href="javascript:">B.Tech (Civil)</a></td>
                  <td><a href="javascript:">B.Tech (EC)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Tech (ICT)</a></td>
                  <td><a href="javascript:">B.Tech (IT)</a></td>
                  <td><a href="javascript:">B.Tech (Mechanical)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">BBA</a></td>
                  <td><a href="javascript:">BCA (Honors)</a></td>
                  <td><a href="javascript:">BCA</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Diploma (CE)</a></td>
                  <td><a href="javascript:">Diploma (Chemical)</a></td>
                  <td><a href="javascript:">Diploma (Civil)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Diploma (IT)</a></td>
                  <td><a href="javascript:">Diploma (ME)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Biotechnology)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Integrated M.Sc. (IT)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Mathematics)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Microbiology)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">M. Com</a></td>
                  <td><a href="javascript:">M.Com (Integrated)</a></td>
                  <td><a href="javascript:">M.Sc. (Industrial Chemistry)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">MBA (Integrated)-OLD</a></td>
                  <td><a href="javascript:">MBA</a></td>
                  <td><a href="javascript:">MCA (Integrated)</a></td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Results">
          <ng-template ngbTabContent>
            <h5>Student Result</h5>
            <hr/>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <tr>
                  <td><a href="javascript:">B. Arch</a></td>
                  <td><a href="javascript:">B. Des.</a></td>
                  <td><a href="javascript:">B.C.A (Hons)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Com</a></td>
                  <td><a href="javascript:">B.I.D</a></td>
                  <td><a href="javascript:">B.Pharm</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Sc. (Chemistry)</a></td>
                  <td><a href="javascript:">B.Sc. (Microbiology)</a></td>
                  <td><a href="javascript:">B.Tech (Automobile)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Tech (Chemical)</a></td>
                  <td><a href="javascript:">B.Tech (Civil)</a></td>
                  <td><a href="javascript:">B.Tech (EC)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">B.Tech (ICT)</a></td>
                  <td><a href="javascript:">B.Tech (IT)</a></td>
                  <td><a href="javascript:">B.Tech (Mechanical)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">BBA</a></td>
                  <td><a href="javascript:">BCA (Honors)</a></td>
                  <td><a href="javascript:">BCA</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Diploma (CE)</a></td>
                  <td><a href="javascript:">Diploma (Chemical)</a></td>
                  <td><a href="javascript:">Diploma (Civil)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Diploma (IT)</a></td>
                  <td><a href="javascript:">Diploma (ME)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Biotechnology)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">Integrated M.Sc. (IT)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Mathematics)</a></td>
                  <td><a href="javascript:">Integrated M.Sc. (Microbiology)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">M. Com</a></td>
                  <td><a href="javascript:">M.Com (Integrated)</a></td>
                  <td><a href="javascript:">M.Sc. (Industrial Chemistry)</a></td>
                </tr>
                <tr>
                  <td><a href="javascript:">MBA (Integrated)-OLD</a></td>
                  <td><a href="javascript:">MBA</a></td>
                  <td><a href="javascript:">MCA (Integrated)</a></td>
                </tr>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
</div>
