<div class="row help-desk">
  <div class="col-sm-12">
    <div class="card shadow-none">
      <div class="card-body shadow border-0">
        <form>
          <div class="form-group">
            <label>Customer</label>
            <select title="Customer" name="customer" class="mb-3 form-control">
              <option>Default select</option>
            </select>
          </div>
          <div class="form-group">
            <label>Category</label>
            <select title="Category" name="category" class="mb-3 form-control">
              <option>Default select</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Subject</label>
            <input type="password" class="form-control" name="exampleInputPassword1" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <app-tinymce [(ngModel)]='basicContent' #tinymce='tinymce' name="tinymce"></app-tinymce>
            <div class="file btn btn-outline-primary mt-3 file-btn">
              <i class="feather icon-paperclip"></i>Add Atachment
              <input type="file" name="file" />
            </div>
          </div>
          <button type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
