<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Collapse Menu Layout">
      <p>In Collapse Sidebar Layout - Sidebar is getting minimal and all menu item is collapsed by default.</p>
      <div class="alert alert-info mb-0" role="alert">
        <p class="mb-0">It is best suited for those applications where you want more focus on page content & having less sidebar menu items.</p>
      </div>
      <h5 class="m-15">You can edit this file at [ ../src/app/app-config.ts ] </h5>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="header-table">
          <tr>
            <th>Configuration</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>layout: <code>vertical</code></li>
                <li>collapseMenu: <code>true</code></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
<app-common-content></app-common-content>
