<ul class="navbar-nav mr-auto header-navigation">
  <li class="nav-item test" (click)="navigate()" [placement]="'bottom'" ngbTooltip="Clients">
    <a><i class="icon feather icon-users icon-size"></i></a>
    <!-- <app-nav-search></app-nav-search> -->
    <!-- <app-nav-content></app-nav-content> -->
  </li>
  <li class="nav-item test" (click)="navigatetoCalender()" [placement]="'bottom'" ngbTooltip="Calendar">
    <a href="javascript:;"><i class="icon feather icon-calendar icon-size"></i></a> 
  </li>
  <li class="nav-item test" (click)="navigatetoCampaigns()" [placement]="'bottom'" ngbTooltip="Campaigns">
    <a href="javascript:"><i class="icon feather icon-bar-chart icon-size"></i></a>
  </li>
  <li class="nav-item test" (click)="navigatetoProspects()" [placement]="'bottom'" ngbTooltip="Prospects">
    <a href="javascript:"><i class="icon feather icon-book icon-size"></i></a>
  </li>  
  <li class="nav-item test" (click)="navigatetoActivity()" [placement]="'bottom'" ngbTooltip="Activity">
    <a href="javascript:"><i class="icon feather icon-activity icon-size" ></i></a>
  </li>
  <li class="nav-item test" (click)="navigatetoInbox()" [placement]="'bottom'" ngbTooltip="Inbox">
    <a href="javascript:"><i class="icon feather icon-inbox icon-size" ></i></a>
  </li>
</ul>


<!-- <button _ngcontent-uag-c19="" class="btn btn-warning" ngbtooltip="tooltip on bottom" type="button">Bottom</button> -->
<!-- <ul class="navbar-nav ml-auto">
    <li>
  </li>
</ul> -->
<!-- <app-nav-content></app-nav-content> -->

<!-- <ul>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul> -->