<div class="row btn-page">
  <div class="col-sm-12">
    <app-card cardTitle="Projects Summary" [options]="false">
      <div class="row">
        <div class="col-md-2 col-xs-6 border-right">
          <h3>14</h3>
          <h6 class="text-success">Not Started</h6>
          <span class="">Assigned to me: 7</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>17</h3>
          <h6 class="text-primary">In Progress</h6>
          <span class="">Assigned to me: 8</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>10</h3>
          <h6 class="">Testing</h6>
          <span class="">Assigned to me: 4</span>
        </div>
        <div class="col-md-2 col-xs-6 border-right">
          <h3>1</h3>
          <h6 class="text-success">Awaiting Feedback</h6>
          <span class="">Assigned to me: 3</span>
        </div>
        <div class="col-md-2 col-xs-6">
          <h3>6</h3>
          <h6 class="text-success">Complete</h6>
          <span class="">Assigned to me: 5</span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="card-datatable">
      <div class="row align-items-center m-l-0">
        <div class="col-sm-6"></div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-success btn-sm btn-round has-ripple" (click)="modalProject.show()"><i class="feather icon-plus"></i> Add Project</button>
        </div>
        <app-ui-modal #modalProject>
          <div class="app-modal-header">
            <h5 class="modal-title">Add Project</h5>
            <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalProject.hide()"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="app-modal-body">
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">Public</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2">Billable</label>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="Subject" placeholder="Subject">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="Rate" placeholder="Hourly Rate">
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group fill">
                  <input type="date" class="form-control" id="Start" placeholder="Start Date">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group fill">
                  <input type="date" class="form-control" id="Deadline" placeholder="Due Date">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <select class="form-control" id="Billing">
                    <option value="">Select Billing Type</option>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                    <option value="4">Urgent</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select class="form-control" id="Status">
                    <option value="">Select Status</option>
                    <option value="1-week">Week</option>
                    <option value="2-week">2 Weeks</option>
                    <option value="1-month">1 Month</option>
                    <option value="2-month">2 Months</option>
                    <option value="3-month">3 Months</option>
                    <option value="6-month">6 Months</option>
                    <option value="1-year">1 Year</option>
                    <option value="custom">Custom</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select class="form-control" id="Related">
                <option value="">Select Related To</option>
                <option value="project">Project</option>
                <option value="invoice">Invoice </option>
                <option value="customer">Customer </option>
                <option value="estimate">Estimate </option>
                <option value="contract">Contract </option>
                <option value="ticket">Ticket </option>
                <option value="expense">Expense </option>
                <option value="lead">Lead </option>
                <option value="proposal">Proposal </option>
              </select>
            </div>
            <div class="form-group">
              <tag-input class="tag-chips" [(ngModel)]="items" [modelAsStrings]="true"></tag-input>
            </div>
            <div class="form-group">
              <label class="label">Description</label>
              <app-tinymce [(ngModel)]='basicContent' #tinymce='tinymce'></app-tinymce>
            </div>
          </div>
          <div class="app-modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="modalProject.hide()">Clear</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </app-ui-modal>
      </div>
      <div class="table-responsive">
        <table datatable id="report-table" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Assigned to</th>
            <th>Tags</th>
            <th>Priority</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td><a href="javascript:">Hatter. 'Does YOUR watch tell you.</a>
              <p class="mb-2">#5 - THEIR eyes bright and eager with many a.</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-primary inline-block">In Progress</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-07-30</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-danger inline-block">Urgent</span></td>
          </tr>
          <tr>
            <td>2</td>
            <td><a href="javascript:">test</a>
              <p class="mb-2">Recurring Task</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-primary inline-block">In Progress</span>
            </td>
            <td>2019-07-30</td>
            <td>2019-07-31</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Chet Rempel" alt="Generic placeholder image">
            </td>
            <td class="text-wrap">
              <span class="badge badge-primary inline-block mr-1">bug</span>
              <span class="badge badge-primary inline-block mr-1">follow up</span>
              <span class="badge badge-primary inline-block mr-1">important</span>
              <span class="badge badge-primary inline-block mr-1">logo</span>
              <span class="badge badge-primary inline-block">review</span>
            </td>
            <td><span class="badge badge-primary inline-block">Medium</span></td>
          </tr>
          <tr>
            <td>3</td>
            <td><a href="javascript:">Fix an open issue in our software</a>
              <p class="mb-2">#1 - Build Website - Flatley-Wolff</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-danger inline-block">Not Started</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-12</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Chet Rempel" alt="Generic placeholder image">
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-primary inline-block">Medium</span></td>
          </tr>
          <tr>
            <td>4</td>
            <td><a href="javascript:">Add a Test Case for the GCI Website</a>
              <p class="mb-2">#2 - SEO Optimization - Feeney-Pouros</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-primary inline-block">In Progress</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-12</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Chet Rempel" alt="Generic placeholder image">
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-primary inline-block">Medium</span></td>
          </tr>
          <tr>
            <td>5</td>
            <td><a href="javascript:">Research on improved audio latency</a>
              <p class="mb-2">#3 - Brochure Design - Gorczany Kreiger</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-warning inline-block">Awaiting Feedback</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-12</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-danger inline-block">Urgent</span></td>
          </tr>
          <tr>
            <td>6</td>
            <td><a href="javascript:">Fix an open issue in our software</a>
              <p class="mb-2">#3 - Brochure Design - Gorczany Kreiger</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-warning inline-block">Awaiting Feedback</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-12</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-3.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-warning inline-block">High</span></td>
          </tr>
          <tr>
            <td>7</td>
            <td><a href="javascript:">Fix mimetype declaration on Android</a>
              <p class="mb-2">#4 - Website Redesign - Hilll Inc</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-warning inline-block">Awaiting Feedback</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-12</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-warning inline-block">High</span></td>
          </tr>
          <tr>
            <td>8</td>
            <td><a href="javascript:">Fix mimetype declaration on Android</a>
              <p class="mb-2">#1 - Build Website - Flatley-Wolff</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-success inline-block">Not Started</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-19</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-1.jpg" data-toggle="tooltip" data-title="Amani Wiegand" alt="Generic placeholder image">
              <img class="img-radius wid-30" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Marshall Morissette" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-danger inline-block">Urgent</span></td>
          </tr>
          <tr>
            <td>9</td>
            <td><a href="javascript:">Find/fix 10 broken links in the RTEMS Wiki</a>
              <p class="mb-2">#2 - SEO Optimization - Feeney-Pouros</p>
              <small class="d-block">
                <a href="javascript:">Start Timer</a> |
                <a href="javascript:">Edit</a> |
                <a href="javascript:" class="text-danger">Delete </a>
              </small>
            </td>
            <td>
              <span class="badge badge-success inline-block">Testing</span>
            </td>
            <td>2019-07-29</td>
            <td>2019-08-19</td>
            <td>
              <img class="img-radius wid-30 mr-1" src="assets/images/user/avatar-4.jpg" data-toggle="tooltip" data-title="Lorenzo Stroman" alt="Generic placeholder image">
            </td>
            <td class="text-wrap"></td>
            <td><span class="badge badge-danger inline-block">Urgent</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
