<div class="row w-100 m-0">
 <img src="assets/images/widget/slider5.jpg" alt="" class="img-fluid email-campaign-img">
<h4 class="email-campaign-heading">Email Campaign</h4>
</div>
<div class="row w-100 m-0">
<div class="col-sm-12 tab-card ">
        <!-- <p>email-campaign works!</p> -->
        <ngb-tabset type="pills" class="tab-card-email">
                <ngb-tab title="CAMPAIGN" >
              <ng-template ngbTabContent>
          <div class="row w-100 m-0">
           
       
                  <div class="col-lg-3 chat-card-col">
                    <h2 class="text-center f-w-400 ">8,421</h2>
                    <p class="text-center text-muted email-graph-subheading">Unique Visitors</p>
                    <div id="-3"></div>
                    <app-apex-chart chartID="monthly-profit-chart-1" [chartConfig]="this.monthlyProfitChartData3"></app-apex-chart>
                    <div class="m-t-20">
                      <div class="row ">
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">2,849</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Today</p>
                        </div>
                        <div class="col-md-4 text-center">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                        <div class="col-md-4 text-center">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  <div class="col-lg-3 chat-card-col">
                    <h2 class="text-center f-w-400 ">8,421</h2>
                    <p class="text-center text-muted email-graph-subheading">Unique Visitors</p>
                    <div id="-3"></div>
                    <app-apex-chart chartID="monthly-profit-chart-2" [chartConfig]="this.monthlyProfitChartData3"></app-apex-chart>
                    <div class="m-t-20">
                      <div class="row ">
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">2,849</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Today</p>
                        </div>
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  <div class="col-lg-3 chat-card-col">
                    <h2 class="text-center f-w-400 ">8,421</h2>
                    <p class="text-center text-muted email-graph-subheading">Unique Visitors</p>
                    <div id="-3"></div>
                    <app-apex-chart chartID="monthly-profit-chart-3" [chartConfig]="this.monthlyProfitChartData3"></app-apex-chart>
                    <div class="m-t-20">
                      <div class="row ">
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">2,849</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Today</p>
                        </div>
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  <div class="col-lg-3">
                    <h2 class="text-center f-w-400 ">8,421</h2>
                    <p class="text-center text-muted email-graph-subheading">Unique Visitors</p>
                    <div id="-3"></div>
                    <app-apex-chart chartID="monthly-profit-chart-4" [chartConfig]="this.monthlyProfitChartData3"></app-apex-chart>
                    <div class="m-t-20">
                      <div class="row ">
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">2,849</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Today</p>
                        </div>
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                        <div class="col-md-4 text-center ">
                          <h6 class="f-20 f-w-400">3,587</h6>
                          <p class="text-muted f-14 m-b-0 chart-text">Yesterday</p>
                        </div>
                      </div>
                    </div>
                    </div>
              
          
          
          </div>
        </ng-template>
                </ngb-tab>
                <ngb-tab title="TEMPLATES">
              <ng-template ngbTabContent>
          <h4>hjhghyt</h4>
        </ng-template>
                </ngb-tab>
                </ngb-tabset>
</div>
</div>
